<div class="feeds">
  <div class="feeds-wrap">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="typepage" id="photo" autocomplete="off" <%= 'checked' if @tab == 'photos' %> />
      <%= label_tag "photo", "PHOTO", class: "btn btn-outline-primary tab-label", data: { url: root_path(tab: "photos") } %>
      <input type="radio" class="btn-check" name="typepage" id="album" autocomplete="off" <%= 'checked' if @tab == 'albums' %>/>
      <%= label_tag "album", "ALBUM", class: "btn btn-outline-primary tab-label", data: { url: root_path(tab: "albums") } %>
    </div>
    <div class="feeds-list" id="items">
      <%= render partial: "post", collection: @items, as: :item %>
    </div>
    <div id="pagination" data-controller="infinite-scroll">
      <% if @items.next_page.present? %>
        <%= link_to root_path(tab: @tab, page: @items.next_page),
                    data: { turbo_frame: "pagination", turbo_action: "append", turbo_stream: true }, class:
                      "d-flex align-items-center justify-content-center gap-2", remote: true do %>
          <span class="loader"></span>
          <span id="load-text">Tải thêm</span>
        <% end %>
      <% else %>
        <div class="text-muted">Đã tải hết bài viết</div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewFeed" tabindex="-1" aria-labelledby="viewFeedLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="viewFeedLabel">
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if !params[:tab] || params[:tab] == 'photos' %>
          <img src="" alt="" id="modal-photo-image" class="w-100 h-auto mb-3">
        <% else %>
          <div id="carouselExample" class="carousel slide mb-3" style="display: none;">
            <div class="carousel-inner"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
        <div id="modal-photo-description"></div>
      </div>
    </div>
  </div>
</div>