<div class="p-4 m-4 w-100" style="min-height: 90vh;background: var(--bs-secondary-bg);">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="font-weight-bold lh-1 m-0">Edit photo</h5>
    <%= link_to "Back", request.referer, class: "btn btn-primary" %>
  </div>
  <%= form_with model: @photo, url: admin_photo_path(@photo), method: :patch, html: { enctype:
                                                                                            "multipart/form-data" } do |f| %>
    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :title, "Title", class: "form-label" %>
        <%= f.text_field :title, value: @photo.title, class: "form-control #{'is-invalid' if @photo.errors[:title].any?}" %>
        <% @photo.errors[:title].each do |error| %>
          <div class="invalid-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.label :description, "Description", class: "form-label" %>
        <%= f.text_area :description, value: @photo.description, class: "form-control #{'is-invalid' if @photo
          .errors[:description].any?}", rows: 3 %>
        <% @photo.errors[:description].each do |error| %>
          <div class="invalid-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mb-3 col-md-4">
      <%= f.label :sharing_mode, "Sharing mode", class: "form-label" %>
      <%= f.select :sharing_mode, Photo.sharing_modes.keys.map { |mode| [mode.titleize, mode] }, { selected: @photo.sharing_mode }, class: "form-select" %>
    </div>
    <div class="mb-4">
      <%= f.label :image, "Upload Photo", class: "form-label d-block" %>
      <label for="image-upload" class="border border-secondary border-dashed d-flex align-items-center justify-content-center position-relative rounded overflow-hidden" style="width: 150px; height: 150px;">

        <%= image_tag "#{@photo.image.url}", alt: "", class: "w-100 h-100 object-fit-cover", id:
          'pre-image-preview' %>
        <i class="fa-solid fa-xmark close-icon" id="close-icon"></i>

        <span class="fs-1 text-muted d-none" id="plus-icon">+</span>
        <%= f.file_field :image, class: "d-none", id: "image-upload", style: "pointer-events: none" %>

      </label>
    </div>
    <%= f.submit "Save", class: "btn btn-success" %>
  <% end %>
  <%= form_with model: @photo, method: :delete do |form| %>
    <button type="button" class="btn btn-danger delete-button" data-bs-toggle="modal"
            data-bs-target="#deletePhotoModal">
      <i class="fa-regular fa-trash-can"></i>
      Delete
    </button>
    <!-- Modal -->
    <div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="deletePhotoModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deletePhotoModalLabel">Warning!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure to delete this photo?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit "Delete", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
    .delete-button {
        position: relative;
        top: -38px;
        left: 120px;
    }
</style>
