<div class="p-4 m-4 w-100" style="min-height: 90vh; background: var(--bs-secondary-bg);">
  <h5 class="font-weight-bold mb-4">Edit User Profile</h5>
  <hr>
  <div class="d-flex flex-column align-items-center mb-4">
    <%= image_tag @user.avatar.present? ? @user.avatar.url : "https://ui-avatars.com/api/?background=FFFFFF&color=3c5999&name=#{current_user
      .first_name}+#{current_user.last_name}", class: "rounded", style: "width: 120px; height: 120px; object-fit: cover;", id: 'image-preview' %>
    <%= form_with model: @user, html: { multipart: true }, method: :patch do |f| %>
      <%= hidden_field_tag :form_type, "avatar" %>
      <label class="btn rounded position-relative" style="background: rgba(255,255,255, 0.7); top: -50px; font-size: 13px;">
        <%= f.file_field :avatar, class: "form-control-file mt-2 d-none", id: 'avatar-upload' %>
        <span class="text-black">CHANGE</span>
      </label>
      <%= f.submit "Save", id: 'avatar-submit', class: "btn btn-success d-none rounded position-relative", style: "top: -50px;" %>
    <% end %>
  </div>
  <!-- Basic Info Form -->
  <div class="row">
    <div class="col-5"></div>
    <div class="col">
      <h6 class="text-primary fw-bold">Basic Information</h6>
    </div>
  </div>
  <%= form_with model: @user, method: :patch do |f| %>
    <%= hidden_field_tag :form_type, "basic" %>
    <div class="form-group row align-items-center <%= 'mb-2' unless @user.errors[:first_name].any? %>">
      <label class="col-5 text-end fw-bold" for="user_first_name">First Name</label>
      <div class="col-5">
        <%= f.text_field :first_name, class: "form-control #{'is-invalid' if @user.errors[:first_name].any?}", placeholder: "First Name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:first_name].each do |error| %>
          <div class="invalid-feedback d-block mb-2">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group row align-items-center <%= 'mb-2' unless @user.errors[:last_name].any? %>">
      <label class="col-5 text-end fw-bold">Last Name</label>
      <div class="col-5">
        <%= f.text_field :last_name, class: "form-control #{'is-invalid' if @user.errors[:last_name].any?}", placeholder:
          "Last Name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:last_name].each do |error| %>
          <div class="invalid-feedback d-block mb-2">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group row align-items-center <%= 'mb-4' unless @user.errors[:email].any? %>">
      <label class="col-5 text-end fw-bold">Email</label>
      <div class="col-5">
        <%= f.email_field :email, class: "form-control #{'is-invalid' if @user.errors[:email].any?}",
                          disabled: true, placeholder:
          "someone@example.com" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:email].each do |error| %>
          <div class="invalid-feedback d-block mb-4">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <!-- Password Form -->
  <div class="row">
    <div class="col-5"></div>
    <div class="col">
      <h6 class="text-primary font-weight-bold mt-5">Password</h6>
    </div>
  </div>
  <%= form_with model: @user, method: :patch do |f| %>
    <%= hidden_field_tag :form_type, "password" %>
    <div class="form-group row align-items-center <%= 'mb-2' unless @user.errors[:current_password].any? %>">
      <label class="col-5 text-end fw-bold">Current Password</label>
      <div class="col-5">
        <%= f.password_field :current_password, class: "form-control #{'is-invalid' if @user.errors[:current_password].any?}" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:current_password].each do |error| %>
          <div class="invalid-feedback d-block mb-4">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group row align-items-center <%= 'mb-2' unless @user.errors[:password].any? %>">
      <label class="col-5 text-end fw-bold">New Password</label>
      <div class="col-5">
        <%= f.password_field :password, class: "form-control #{'is-invalid' if @user.errors[:password].any?}" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:password].each do |error| %>
          <div class="invalid-feedback d-block mb-4">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group row align-items-center <%= 'mb-4' unless @user.errors[:password_confirmation].any? %>">
      <label class="col-5 text-end fw-bold">Password Confirmation</label>
      <div class="col-5">
        <%= f.password_field :password_confirmation, class: "form-control #{'is-invalid' if @user.errors[:password_confirmation].any?}" %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <% @user.errors[:password_confirmation].each do |error| %>
          <div class="invalid-feedback d-block mb-4">
            <%= error %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
