<div class="profile">
  <div class="profile-info">
    <div class="profile-info__avatar">
      <%= image_tag "#{@user.avatar}", alt: "Avatar", class: "" %>
    </div>
    <div class="profile-info__content">
      <% if @param_user_id.to_i === current_user.id %>
        <div class="profile-info__badge--me">Edit profile</div>
      <% else %>
        <div class="profile-info__badge">Following</div>
      <% end %>
      <div class="profile-info__name"><%= "#{@user.first_name} #{@user.last_name}" %></div>
      <div class="profile-info__tags">
        <%= link_to user_path(@user, tab: 'photos'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'photos')] do %>
          <span class="fs-4">
            <%= @user.photos.length %>
          </span>
          <span>PHOTOS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'albums'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'albums')] do %>
          <span class="fs-4">
            <%= @user.albums.length %>
          </span>
          <span>ALBUMS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'followings'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'followings')] do %>
          <span class="fs-4">
            <%= @user.followings.length %>
          </span>
          <span>FOLLOWINGS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'followers'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'followers')] do %>
          <span class="fs-4">
            <%= @user.followers.length %>
          </span>
          <span>FOLLOWERS</span>
        <% end %>
      </div>
    </div>
  </div>
  <% if @param_user_id.to_i === current_user.id && @tab == 'photos' %>
    <%= link_to "Add Photo", new_user_photo_path(current_user), class: "profile-info__add-photo d-block" %>
  <% end %>
  <div class="profile-list row g-4">
    <% @items.each do |item| %>
      <div class="d-flex flex-column align-items-center justify-content-center col-12 col-md-6 col-lg-4 col-xl-3 gap-2">
        <%= image_tag "#{item.image}", alt: "", class: "rounded" %>
        <span><%= item.title %></span>
      </div>
    <% end %>
  </div>
</>