<div class="profile">
  <div class="profile-info">
    <div class="profile-info__avatar">
      <%= image_tag "#{@user.avatar.url}", alt: "Avatar", class: "" %>
    </div>
    <div class="profile-info__content">
      <% if user_signed_in? && @param_user_id.to_i === current_user.id %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "profile-info__badge--me" %>
      <% else %>
        <% if following?(@param_user_id) %>
          <div class="profile-info__badge"><span>following</span></div>
        <% else %>
          <%= form_with url: user_followers_path(current_user), local: true do |f| %>
            <%= hidden_field_tag :following_id, @param_user_id %>
            <%= f.button type: "submit", class: "profile-info__badge profile-info__badge--inactive" do %>
              <span>follow</span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div class="profile-info__name"><%= "#{@user.first_name} #{@user.last_name}" %></div>
      <div class="profile-info__tags">
        <%= link_to user_path(@user, tab: 'photos'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'photos')] do %>
          <span class="fs-4">
            <% if current_user.id == @param_user_id.to_i %>
              <%= @user.photos.length %>
            <% else %>
              <%= @user.photos.filter { |e| e.sharing_mode == "public_mode" }.length %>
            <% end %>
          </span>
          <span>PHOTOS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'albums'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'albums')] do %>
          <span class="fs-4">
            <% if current_user.id == @param_user_id.to_i %>
              <%= @user.albums.length %>
            <% else %>
              <%= @user.albums.filter { |e| e.sharing_mode == "public_mode" }.length %>
            <% end %>
          </span>
          <span>ALBUMS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'followings'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'followings')] do %>
          <span class="fs-4">
            <%= @user.followings.length %>
          </span>
          <span>FOLLOWINGS</span>
        <% end %>
        <div class="profile-info__tags--divider"></div>
        <%= link_to user_path(@user, tab: 'followers'), class: ['profile-info__tags--item', ('profile-info__tags--item--active' if @tab == 'followers')] do %>
          <span class="fs-4">
            <%= @user.followers.length %>
          </span>
          <span>FOLLOWERS</span>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? && @param_user_id.to_i === current_user.id && @tab == 'photos' %>
    <%= link_to "Add Photo", new_user_photo_path(current_user), class: "profile-info__add-photo d-block" %>
  <% end %>
  <% if user_signed_in? && @param_user_id.to_i === current_user.id && @tab == 'albums' %>
    <%= link_to "Add Album", new_user_album_path(current_user), class: "profile-info__add-photo d-block" %>
  <% end %>
  <div class="profile-list">
    <% @items.each do |item| %>
      <% if @tab == 'photos' %>
        <div class="d-flex flex-column align-items-center justify-content-center gap-2 profile-list__item">
          <div class="position-relative">
            <%= image_tag "#{item.image}", alt: "", class: "rounded" %>
            <% if user_signed_in? && @param_user_id.to_i === current_user.id %>
              <%= link_to "EDIT", edit_photo_path(item), class: "profile-list__item--after profile-list__item--after-photos" %>
            <% end %>
            <% if item.sharing_mode == "private_mode" %>
              <i class="fa-solid fa-lock profile-list__item--lock"></i>
            <% end %>
          </div>
          <span><%= item.title %></span>
        </div>
      <% elsif @tab == 'albums' %>
        <div class="d-flex flex-column align-items-center justify-content-center gap-2 profile-list__item">
          <div class="p-3 w-100 h-100 d-flex align-items-center justify-content-center">
            <div class="position-relative first-img">
              <%= image_tag "#{item.photos[0].image}", alt: "" %>
              <% if user_signed_in? && @param_user_id.to_i === current_user.id %>
                <%= link_to "EDIT", edit_album_path(item), class: "profile-list__item--after profile-list__item--after-albums" %>
              <% end %>
            </div>
            <%= image_tag "#{item.photos[0].image}", alt: "" %>
            <%= image_tag "#{item.photos[0].image}", alt: "" %>
            <div class="profile-list__item--count">
              <span class="fs-3 lh-1"><%= item.photos.length %></span>
              PHOTOS
            </div>
          </div>
          <span><%= item.title %></span>
        </div>
      <% elsif @tab == 'followings' %>
        <div class="d-flex flex-column align-items-center justify-content-center gap-2 profile-followings__item">
          <%= image_tag "#{item.avatar.url}", alt: "", class: "profile-followings__item--avatar" %>
          <div class="fw-bold fs-6 mb-1"><%= item.first_name %> <%= item.last_name %></div>
          <div class="d-flex align-items-center justify-content-center gap-4 profile-followings__item--stat ">
            <div class="d-flex flex-column align-items-center justify-content-center ">
              <span class="fs-2 lh-1 fw-bold"><%= item.photos.length %></span>
              <span>PHOTOS</span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <span class="fs-2 lh-1 fw-bold"><%= item.albums.length %></span>
              <span>ALBUMS</span>
            </div>
          </div>
          <% if @param_user_id.to_i == current_user.id %>
            <%= form_with url: user_following_path(current_user.id, item.id), method: :delete do |f| %>
              <%= f.button type: "submit", class: "profile-info__badge profile-info__badge--inactive" do %>
                <span>unfollow</span>
              <% end %>
            <% end %>
          <% else %>
            <% if following?(item.id) %>
              <div class="profile-info__badge"><span>following</span></div>
            <% else %>
              <%= form_with url: user_followers_path(current_user), local: true do |f| %>
                <%= hidden_field_tag :following_id, item.id %>
                <%= f.button type: "submit", class: "profile-info__badge profile-info__badge--inactive" do %>
                  <span>follow</span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex flex-column align-items-center justify-content-center gap-2 profile-followings__item">
          <%= image_tag "#{item.avatar.url}", alt: "", class: "profile-followings__item--avatar" %>
          <div class="fw-bold fs-6 mb-1"><%= item.first_name %> <%= item.last_name %></div>
          <div class="d-flex align-items-center justify-content-center gap-4 profile-followings__item--stat ">
            <div class="d-flex flex-column align-items-center justify-content-center ">
              <span class="fs-2 lh-1 fw-bold"><%= item.photos.length %></span>
              <span>PHOTOS</span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <span class="fs-2 lh-1 fw-bold"><%= item.albums.length %></span>
              <span>ALBUMS</span>
            </div>
          </div>
          <% if is_following?(item.id) %>
            <div class="profile-info__badge"><span>following</span></div>
          <% else %>
            <%= form_with url: user_followers_path(current_user), local: true do |f| %>
              <%= hidden_field_tag :following_id, item.id %>
              <%= f.button type: "submit", class: "profile-info__badge profile-info__badge--inactive" do %>
                <span>follow</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>