<div class="signup">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="signup-wrap">
    <h2 class="signup-wrap__title mb-3">Forgot your password?</h2>
    <div class="signup-wrap__form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group mb-3 field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="signup-wrap__form--submit actions">
          <%= f.submit "Reset password", class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

