<header class="header">
  <div class="header__logo-search">
    <% if user_signed_in? && current_user.role == 'admin' %>
      <%= link_to "Fotobook Admin", "/admin/photos", class: "header__logo" %>
    <% else %>
      <%= link_to "Fotobook", "/", class: "header__logo" %>
    <% end %>
    <form action="" class="header__search">
      <input type="text" placeholder="Select Photo / Album" class="form-control header__search-input"/>
    </form>
  </div>
  <% if user_signed_in?%>
    <div class="header__user">
      <%= link_to user_path(current_user, tab: 'photos'), class: "header__user--info" do %>
        <div class="header__user--avatar">
          <%= image_tag "#{current_user.avatar}", alt: "Avatar", class: "" %>
        </div>
        <div class="text-white"><%= current_user.first_name %></div>
      <% end %>
      <%= form_with url: '/logout', method: :delete, local: true, html: { id: "logout-form" } do %>
        <button type="button" class="header__user--logout" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Logout
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cảnh báo!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn đăng xuất?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= submit_tag "Logout", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  <% else %>
    <%= link_to "Login", "/login", class: "header__login" %>
  <% end %>
</header>